<div class="card">
    <div class="card-body">
        <h3 class="card-tittle">Aluno - {{ actionText }}</h3>
        <form [formGroup]="alunoForm">
            <div class="row mb-3">
                <div class="form-group mb-3">
                    <label for="nome" class="label">Nome:</label>
                    <input class="form-control mt-3" type="text" id="nome" formControlName="nome" />
                </div>

                <div class="form-group col">
                    <label for="data-nascimento" class="label">Data Nascimento:</label>
                    <input class="form-control mt-3" type="date" id="data-inicio" formControlName="dataNascimento" />
                </div>
            </div>
            <div class="d-flex mt-3">
                <button class="btn btn-primary me-3" (click)="incluir()" *ngIf="!hasId">
          Incluir
        </button>
                <button class="btn btn-primary me-3" (click)="alterar()" *ngIf="hasId">
          Alterar
        </button>
                <button class="btn btn-primary me-3" (click)="voltar()">Voltar</button>
            </div>
        </form>
    </div>
</div>