<div class="card">
    <div class="card-body">
        <h3 class="card-tittle">Aluno</h3>
        <div class="form-group">
            <label for="search" class="label">Nome:</label>
            <input class='form-control mt-3' type="text">
            <button class='btn btn-primary mt-3'>Pesquisar</button>
        </div>
        <div class="table-responsive mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><input type="radio" name="aluno" value="1"></th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex mt-3">
            <button class="btn btn-primary me-3" (click)="incluir()">Incluir</button>
            <button class="btn btn-primary me-3" (click)="alterar()">Alterar</button>
            <button class="btn btn-primary me-3">Excluir</button>
        </div>

    </div>
</div>