<div class="card">
    <div class="card-body">
        <h3 class="card-tittle">Matrícula - {{ actionText }}</h3>
        <form [formGroup]="matriculaForm">
            <div class="form-group">
                <label for="search" class="label">Aluno:</label>
                <select class="form-control mt-3" type="text" id="search" formControlName="alunoCodigo">
          <option value="">Selecionar</option>
          <ng-container *ngFor="let aluno of alunos">
            <option [value]="aluno.codigo">{{ aluno.nome }}</option>
          </ng-container>
        </select>
            </div>
            <h3 class="card-tittle">Adicionar Curso</h3>
            <div class="row mb-3" [formGroup]="cursoGrupo">
                <div class="col-sm-6">
                    <div class="form-group mb-3">
                        <label for="nome" class="label">Curso</label>
                        <select class="form-control mt-3" type="text" id="nome" formControlName="codigo">
              <option value="">Selecionar</option>
              <ng-container *ngFor="let curso of cursos">
                <option [value]="curso.codigo">{{ curso.nome }}</option>
              </ng-container>
            </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group col">
                        <label for="data-nascimento" class="label">Data Matrícula</label>
                        <input class="form-control mt-3" type="date" id="data-inicio" formControlName="dataInicio" />
                    </div>
                </div>
            </div>
            <button class="btn btn-primary me-3" (click)="adicionarCurso()" [disabled]="!isCursoValido">
        Adicionar
      </button>

            <div class="table-responsive mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Curso</th>
                            <th scope="col">Data Matrícula</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let curso of cursosControl.controls; index as i">
                            <tr>
                                <td scope="col">{{ curso?.value?.curso?.nome }}</td>
                                <td scope="col">
                                    {{ curso?.value?.dataMatriculaCurso | date: "shortDate":"DD/MM/YYYY" }}
                                </td>
                                <td scope="col">
                                    <button class="btn btn-primary me-3" (click)="excluirCurso(i)">
                    X
                  </button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

            <div class="d-flex mt-3">
                <button class="btn btn-primary me-3" (click)="incluir()" *ngIf="!hasId">
          Incluir
        </button>
                <button class="btn btn-primary me-3" (click)="voltar()">Voltar</button>
            </div>
        </form>
    </div>
</div>
<p>{{ matriculaForm.value | json }}</p>